* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    background-image: url(./BG/bg-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.secColor {
    color: #ffc93d;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* ============
Day component 
===============*/

/* ============
hour component 
}
